.all-movies-content{
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    justify-content: center;
    /* overflow: hidden; */
    width: 500px;
    height: 400px;
    text-align: center;
    position: relative;
}

.all-movies-content article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;

}


/* POSUVANIE SLIDE-OV */
article.active-slide{
    opacity: 1;
    transform: translateX(0);
}

article.last-slide{
    transform: translateX(-100%);
}

article.next-slide{
    transform: translateX(100%);
}




